
<div id="content-wrap">
    <footer class="footer">
        <div class="inner-footer">
            <div class="socials">
                <ul>
                    <li class="social-icons"><a href="#"><i class="fab fa-facebook"></i></a></li>
                    <li class="social-icons"><a href="#"><i class="fab fa-twitter-square"></i></a></li>
                    <li class="social-icons"><a href="#"><i class="fab fa-instagram"></i></a></li>
                    <li class="social-icons"><a href="#"><i class="fab fa-tumblr-square"></i></a></li>

                </ul>

            </div>

            <div class="quick-links">
                <ul>
                    <li class="quick-items"><a href="#">Home</a></li>
                    <li class="quick-items"><a href="#">Community</a></li>
                    <li class="quick-items"><a href="#">About Us</a></li>
                    <li class="quick-items"><a href="#">Contact Us</a></li>

                </ul>
            </div>
        </div>

        <div class="outer-footer">
            Copyright &copy; L Gourley. All rights reserved
        </div>
    </footer>
</div>

</body>

</html>