<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('components/header') %>
</head>

<body>

    <main class="container">
        <!-- <% if(typeof sentback != 'undefined' ) {  %>

        <p> You have been registered <%= sentback.username %> </p>

        <%  } else {   %> -->


        <h1> Register </h1>
        <form action="/registration" method="POST" id="send">

            <div class="row">
                <div class="col">
                    <input type="username" class="form-control" placeholder="Username" aria-label="username"
                        name="username">
                </div>
                <div class="col">
                    <input type="password" class="form-control" placeholder="Create Password" aria-label="password"
                        name="password">
                </div>
            </div>

            <div class="row">
                <div class="col">
                    <input type="email" class="form-control" placeholder="Email address" aria-label="email_address"
                        name="email_address">
                </div>

            </div>


            <div class="row">

                <div class="col">
                    <input type="text" class="form-control" placeholder="First name" aria-label="first_name"
                        name="first_name">
                </div>
                <div class="col">
                    <input type="text" class="form-control" placeholder="Last name" aria-label="last_name"
                        name="last_name">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    <input type="text" class="form-control" placeholder="County/City" aria-label="county" name="county">
                </div>
                <div class="col">
                    <input type="text" class="form-control" placeholder="Country" aria-label="country" name="country">
                </div>
            </div>

            </div>
            <div class="col-12">
                <button type="submit" class="btn btn-primary" value="send">Submit</button>
            </div>
        </form>
        <!-- <% } %> -->
    </main>
    <footer>
        <%- include('components/footer') %>
    </footer>

</body>

</html>